html,
body,
#root {
  height: 100%;
}
.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-input {
  font-size: 20px;
  height: 35px;
  margin-top: 175px;
  width: 250px;
  border-radius: 2px;
}

.autocomplete-container {
  margin-top: 2px;
  max-height: 240px;
  max-width: 260px;
  overflow: scroll;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.autocomplete-value {
  font-size: 18px;
  min-height: 30px;
  min-width: 250px;
  padding: 5px;
}
.autocomplete-value:hover {
  cursor: pointer;
  background-color: #ececec;
}

.selected-value {
  background-color: #ececec;
}

.no-options:hover {
  cursor: default;
  background-color: #ffffff;
}
