html,
body,
#root {
  height: 100%;
}
.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-input {
  font-size: 20px;
  height: 35px;
  margin-top: 175px;
  width: 250px;
}

.autocomplete-container {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-top: 2px;
  max-height: 245px;
  max-width: 260px;
  overflow: scroll;
}

.autocomplete-value {
  font-size: 22px;
  min-height: 37px;
  min-width: 250px;
  padding: 5px;
}

.selected-value {
  background-color: gray;
  font-size: 22px;
  font-weight: 700;
  min-height: 37px;
  min-width: 250px;
  padding: 5px;
}
